.gradle
/.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
PasswordBox.iml
settings.gradle
proguard-rules.pro
app.iml